.header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 40;

    @media screen and (max-width: 800px) {
        flex-direction: column;
        height: 120px;
    }
    &__logo-box {
        @media screen and(max-width:800px) {
        }
    }
}
